<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">

                <div class="jumbotron">
                    <h1>This is great</h1>
                    <p>Welcome to templating using EJS</p>
                    <table>
                      <tr>
                        <td><strong>Hostname:</strong></td><td><%- server_hostname -%></td>
                      </tr>
                      <tr>
                        <td><strong>OS Type:</strong></td><td><%- server_ostype -%></td>
                      </tr>
                      <tr>
                        <td><strong>OS Platform:</strong></td><td><%- server_osplatform -%></td>
                      </tr>
                      <tr>
                        <td><strong>Total RAM:</strong></td><td><%- server_ostotalmem -%></td>
                      </tr>
                      <tr>
                        <td><strong>Free RAM:</strong></td><td><%- server_osfreemem -%></td>
                      </tr>
                    </table>

                </div>

            </div>
            <div class="col-sm-4">

                <div class="well">
                    <h3>Look I'm A Sidebar!</h3>
                </div>

            </div>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
